* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#999, #333);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 340px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
}

.circle {
  position: absolute;
  top: -52%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 500px;
  background-color: black;
  clip-path: circle();
}

.circle::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -16px;
  width: 100%;
  height: 100%;
  background-color: blue;
  box-shadow: 0 0 0 20px rgba(255, 111, 0, 0.7);
  border-radius: 50%;
  z-index: 1;
  /* filter: brightness(200%); */
}

.imgbx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #ff0;
  width: 340px;
  height: 310px;
}

.imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-color: transparent;
  text-align: center;
}

.content__heading {
  font-size: 1.9rem;
  width: 100%;
  text-align: center;
  letter-spacing: 0.6rem;
  color: orangered;
}

.content__desc {
  display: block;
  font-size: 1.3rem;
}
