#main {
  width: 100%;
  position: relative;
}

#header {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 3rem;
  margin: 50px 0 20px 0;
}

.header__contain {
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  flex-basis: 50%;
  display: flex;
  border-right: 1px solid #8d8daa;
}

.header__left-avt {
  background: url(/assets/img/avt/adult.jpg) top / cover;
  border-radius: 26px;
  width: 170px;
  height: 170px;
  box-shadow: 0 13px 10px 9px rgb(0 29 110 / 26%);
}

.header__left-decs {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
  height: 100%;
}

.header__left-name {
  color: var(--text-color);
  display: block;
  font-size: 2.8rem;
  margin-top: 10px;
}

.header__left-study {
  display: block;
  font-size: 1.6rem;
  padding: 20px 0;
}

.header__left-desc-icon {
  font-size: 1.5rem;
}

.header__left-social {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.header__left-social-icon {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--while-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #dfdfde;
  transition: background-color linear 0.1s;
}

.header__left-fb,
.header__left-tiktok,
.header__left-github {
  font-size: 1.7rem;
}

.header__left-social-icon-fb:hover {
  background-color: #3b5998;
  color: white !important;
  box-shadow: 0 0 4px 0 #73777b;
}

.header__left-social-icon:hover .header__left-social-text {
  display: block;
}

.header__left-social-text {
  display: none;
  position: absolute;
  top: -43px;
  color: var(--while-color);
  font-size: 1.6rem;
  padding: 7px 8px;
  border-radius: 1.2rem;
  animation: modern linear 0.2s;
  will-change: transform, opacity;
}

@keyframes modern {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__left-social-text::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10%);
  content: "";
  border-width: 6px 8px;
  border-style: solid;
  border-color: #3b5998 transparent transparent transparent;
}

.header__left-social-text--fb {
  background-color: #3b5998;
}

.header__left-zalo {
  background: url(/assets/img/icon/favicon.ico) top / cover;
  height: 48%;
  width: 48%;
}

.header__left-social-text--zalo {
  background-color: #0a68fe;
}

.header__left-social-text--zalo::before {
  border-color: #0a68fe transparent transparent transparent;
}

.header__left-social-icon-zalo:hover {
  background-color: #0a68fe;
  box-shadow: 0 0 4px 0 #73777b;
}

.header__left-social-text--tiktok {
  background-color: #21094e;
}

.header__left-social-text--tiktok::before {
  border-color: #21094e transparent transparent transparent;
}

.header__left-social-icon-tiktok:hover {
  background-color: #21094e;
  color: var(--while-color) !important;
  box-shadow: 0 0 4px 0 #73777b;
}

.header__left-social-icon-githup:hover {
  background-color: var(--black-color);
  box-shadow: 0 0 4px 0 #73777b;
  color: var(--while-color) !important;
}

.header__left-social-text--github {
  background-color: var(--black-color);
}

.header__left-social-text--github::before {
  border-color: var(--black-color) transparent transparent transparent;
}

.header__right {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__right-info {
  display: flex;
}

.header__right-contact {
  flex-basis: 70%;
}

.header__right-name {
  font-size: 1.6rem;
  color: #73777b;
}

.header__right-desc {
  display: block;
  padding-top: 12px;
  font-size: 1.7rem;
  color: var(--text-color);
}

.header__right-birth-country {
  flex: 1;
}

#container {
  margin-bottom: 10vh;
}

.container__sidebar {
  border-radius: 2.5rem;
  z-index: 10;
}

#nav.fixed {
  position: fixed;
  top: 24px;
  animation: fixed-ani 0.4s linear;
}

@keyframes fixed-ani {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 21px;
  border-radius: 2.5rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.fixed .sidebar {
  width: 180px;
  padding: 14px 21px;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.6);
  box-shadow: 0 0 10px 0 #a5becc;
  border-radius: 2.5rem;
  padding: 6% 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 142px;
  max-width: 115%;
  margin: 8% 0;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 20%);
}

.sidebar-item:first-child {
}

.sidebar-item:hover {
  background-image: linear-gradient(142.17deg, #4f93f1 6.66%, #de30fd 91.48%);
}

.sidebar-item--activity {
  background-image: linear-gradient(142.17deg, #4f93f1 6.66%, #de30fd 91.48%);
}

.sidebar-item:hover::after {
  display: block;
}

.sidebar-item__name {
  font-size: 1.8rem;
  margin: 12px 0;
  color: #656667;
}

/* item light */
.sidebar-item::after {
  content: "";
  position: absolute;
  top: -6px;
  width: 40%;
  height: 110%;
  transform: translateX(-108px);
  background-image: linear-gradient(100deg, rgba(249, 242, 237, 0.1), white);
  animation: sidebar-item linear 0.7s 0.1s forwards;
  will-change: transform, opacity;
  display: none;
}

@keyframes sidebar-item {
  from {
    transform: skewX(-40deg) translateX(-124px);
  }
  to {
    transform: skewX(-40deg) translateX(146px);
    opacity: 0;
  }
}

/* content */

.content {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  display: inline-block;
  border-radius: 2.5rem;
  margin-bottom: 50px;
}

.content__container {
  padding: 30px;
  display: none;
}

.content__heading {
  display: inline-block;
  font-size: 3.3rem;
  margin-bottom: 38px;
  margin-top: 3px;
  position: relative;
  text-transform: capitalize;
  line-height: 1.3;
}

/* introduce */

.content__heading::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  content: "";
  width: 110px;
  height: 5px;
  background: linear-gradient(45deg, #3ec70b, rgb(212, 217, 37), #ff5b00);
  border-radius: 5px;
  filter: brightness(120%);
}

.content__desc {
  display: block;
  font-size: 1.8rem;
  line-height: 1.3;
  text-align: justify;
  font-weight: 500;
  word-spacing: 1.5px;
  color: black;
}

.content__desc + .content__desc {
  margin: 18px 0;
}

.content__desc-mainly {
  line-height: 1.3;
  font-size: 2.1rem;
  color: #f32424;
}

.content__desc-mainly-link {
  color: #0a68fe;
  text-decoration: none;
}

.content__desc-mainly-link:hover {
  opacity: 0.8;
}

.content__heading-sub {
  position: relative;
  margin: 40px 0;
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.3;
}

.content__heading-sub::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  content: "";
  width: 86px;
  height: 5px;
  background: linear-gradient(45deg, #4700d8, #93ffd8, #f900bf);
  border-radius: 5px;
  filter: brightness(120%);
}

.product {
  overflow: hidden;
}

.product__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.product__content-heading {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 800;
  color: var(--product-color);
  filter: brightness(120%);
}

.product__content-desc {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 20px;
  color: var(--black-color);
  line-height: 1.3;
}

.product__content-technology {
  margin-bottom: 12px;
}

.product__content-technology-html {
  font-size: 1.5rem;
}

.product__content-technology-css {
}

.product__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 280px;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.product__link-img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.2s linear;
}

.product__link:hover .product__link-img {
  transform: scale(1.1);
}

.product__link-num {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15rem;
  position: absolute;
  font-weight: 900;
  top: 18%;
  right: 0;
  color: rgba(223, 246, 255, 0.6);
}

.product__link-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1.4px;
  font-weight: 1000;
  color: var(--product-color);
  filter: brightness(120%);
}

.content__container-goal,
.content-education {
  user-select: none;
}

/* slider */

.slider {
  position: relative;
}

.content__slider-heading:after {
  background: linear-gradient(45deg, #ff9000, #ececec, #ff008e);
}

.slider__icon {
  background-color: rgba(247, 247, 247, 0.9);
  width: 46px;
  height: 46px;
  clip-path: circle();
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__icon-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
  cursor: pointer;
}

.slider__icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(50%);
  cursor: pointer;
  z-index: 1;
}

.slider__icon i {
  font-size: 1.9rem;
}

.slider__control {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider__control-item {
  width: 14px;
  height: 14px;
  background-color: var(--while-color);
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.6s ease, width 0.6s ease;
}

.slider__control-item--active {
  width: 30px;
  height: 15px;
  border-radius: 25px;
  background-color: #3b44f6;
}

@keyframes control {
  form {
    width: 14px;
    background-color: var(--while-color);
  }
  to {
    width: 33px;
    border-radius: 25%;
    background-color: var(--black-color);
  }
}

.slider__wrap {
  width: 937px;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: block;
  margin-top: 63px;
  margin-bottom: 32px;
  border-radius: 5rem;
}

.slider__list {
  display: flex;
  position: relative;
  transition: transform 0.3s linear;
}

.slider__item {
  background: linear-gradient(40deg, #d4d925, #ca82ff) no-repeat top/cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 100%;
}

.slider__img {
  width: 140px;
  height: 140px;
  border-radius: 4rem;
  margin-right: 16px;
  box-shadow: 0 0 8px 0 #f14a16;
}

.slider__content {
  flex: 1;
}

.slider__content-heading {
  font-size: 2rem;
  font-weight: 900;
}

.slider__content-decs {
  display: block;
  margin: 16px 0;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: justify;
}

.slider__content-main {
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 1.2;
}

/* goal */

.content__heading-sub-goal {
  margin: 10px 0 40px;
}

.content__timeline {
  border-left: 1px dashed rgba(115, 119, 123);
  padding-left: 16px;
  position: relative;
}

.content__timeline::before {
  content: "";
  height: 11px;
  width: 11px;
  clip-path: circle();
  background-color: #0a68fe;
  position: absolute;
  left: -6px;
  top: 0;
}

.content__timeline::after {
  content: "";
  height: 25px;
  width: 25px;
  clip-path: circle();
  background-color: #0a68fe;
  position: absolute;
  left: -13px;
  top: -7px;
  opacity: 0.1;
  animation: timeline ease-in 1s infinite alternate;
}

@keyframes timeline {
  from {
    transform: scale(0.4);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 0.4;
  }
}

.content__timeline-heading {
  font-size: 1.9rem;
  text-transform: capitalize;
  line-height: 1.3;
}

.content__timeline-date {
  padding-top: 8px;
  font-size: 1.7rem;
  color: rgba(115, 119, 123);
}

.content__timeline-decs {
  display: block;
  font-size: 1.7rem;
  padding-top: 12px;
  padding-bottom: 34px;
  line-height: 1.6;
}

.content__timeline-end {
  border-left: none;
  border-bottom: 1px solid #999;
}

.content__heading-knowledge {
  position: relative;
  margin: 40px 0;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.content__heading-knowledge::first-letter {
  font-size: 2.5rem;
}

.content__heading-knowledge::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  content: "";
  width: 86px;
  height: 5px;
  background: linear-gradient(45deg, #ff1700, #d9d7f1, #3e00ff);
  border-radius: 5px;
  filter: brightness(120%);
}

/* education */

.content__heading-education,
.content__heading-interests {
  font-size: 2.5rem;
  margin: 10px 0 30px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.content-education__icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: top/cover;
  margin-right: 10px;
}

/* skill */

.education-skill {
  width: 100%;
  background: linear-gradient(45deg, #06283d, #1363df);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
}

.education-skill__wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.education-skill__card {
  background-color: rgba(223, 246, 255, 0.1);
  width: 220px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  border-radius: 2rem;
}

.education-skill__percent {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  z-index: 100;
}

.education-skill__dot {
  position: absolute;
  inset: 2px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(calc(3.6deg * var(--num)));
    /* 360 / 100 = 3.6 */
  }
}

.education-skill__dot::before {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--color);
  background-color: var(--color);
}

.education-skill__percent svg {
  transform: rotate(271deg);
  position: relative;
  width: 150px;
  height: 150px;
}

.education-skill__percent svg circle {
  position: relative;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3px;
  stroke: black;
  transform: translate(5px, 5px);
}

.education-skill__percent svg circle:nth-child(2) {
  stroke: var(--color);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num) / 100));
}

.ducation-skill__circle {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 1px;
  top: 2px;
  border: 5px solid black;
  border-radius: 50%;
  z-index: 1;
  animation: fadeInCircle 0.5s linear forwards;
  animation-delay: 2s;
}

@keyframes fadeInCircle {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.education-skill__decs {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 2s;
}

.education-skill__decs-heading {
  display: flex;
  font-weight: 900;
  font-family: Times New Roman;
  font-size: 2.5rem;
  margin: 12px 0;
  color: var(--while-color);
}

.education-skill__num-percent {
  font-size: 2rem;
  font-weight: normal;
}

.education-skill__name {
  font-size: 1.4rem;
  color: #dfdfde;
  letter-spacing: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* interests */

.interests {
  list-style: none;
}

.interests__item {
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: 2rem;
  box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s, box-shadow 0.1s;
  transition-timing-function: linear;
}

.interests__item + .interests__item {
  margin: 30px 0 50px;
}

.interests__item:hover {
  background-color: rgba(247, 247, 247, 0.6);
  box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.3);
}

.interests__link {
  padding: 26px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
}

.interests__img {
  width: 200px;
  height: 120px;
  border-radius: 1rem;
  margin-right: 20px;
  flex-shrink: 0;
}

.interests__name {
  font-size: 2rem;
  text-transform: capitalize;
}

.interests__content {
  flex: 1;
}

.interests__decs {
  display: inline-block;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 12px 0;
  margin: auto 0;
}

.interests__user-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #990000;
}

/* Loading */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.loading__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(223, 246, 255, 0.1);
  text-align: center;
  width: 100%;
  -webkit-box-reflect: below 30px
    linear-gradient(transparent, rgb(44, 46, 67, 0.6));
}

.loading__text span {
  display: inline-block;
  animation: animateLoading 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animateLoading {
  20% {
    color: #fff;
    text-shadow: 0 0 10px #3db2ff, 0 0 20px #3db2ff, 0 0 40px #3db2ff,
      0 0 100px #3db2ff;
  }
}

/* snow */

.contain-snow {
  position: absolute;
  top: -3%;
  left: 0;
  display: flex;
}

.snow-list {
  position: fixed;
  width: 120%;
  pointer-events: none;
  user-select: none;
}

.snow {
  display: inline-block;
  position: relative;
  bottom: var(--bottom-form);
  color: var(--while-color);
  font-size: 1.2rem;
  animation: snowDown 10s linear infinite;
  animation-duration: calc(600s / var(--second));
  margin: var(--margin);
  z-index: 1000;
  pointer-events: none;
  user-select: none;
}

@keyframes snowDown {
  form {
    bottom: var(--bottom-form);
    transform: scale(var(--scale-form)) rotate(0);
  }
  to {
    bottom: -100vh;
    transform: scale(var(--scale-to)) rotate(360deg);
  }
}

/* box */

.box {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900 !important;
  position: absolute;
  top: 17%;
  left: 50%;
  transform-style: preserve-3d;
  animation: animateBox 25s linear infinite alternate;
  z-index: -1;
}

@keyframes animateBox {
  form {
    transform: perspective(1000px) rotateX(0deg) rotate(20deg);
  }
  to {
    transform: perspective(1000px) rotateX(360deg) rotate(20deg);
  }
}

.box span {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 10px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(79, 78, 78, 0.2),
    transparent
  );
  line-height: 0.76em;
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 30deg))
    translateZ(40px);
}

.box span i:nth-child(1) {
  font-style: initial;
  color: #ff246f;
}

.box span i:nth-child(2) {
  font-style: initial;
  color: #0a68fe;
}

/*  heart */
.heart {
  position: absolute;
  top: 39%;
  left: 71%;
  width: 90px;
  height: 90px;
  color: #fd5d5d;
  background-color: currentColor;
  transform: rotate(-90deg) translate(0%, 0%);
  animation: animateHeart 5s linear infinite alternate-reverse;
  z-index: -1;
  opacity: 0.8;
}

.heart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  background-color: currentColor;
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -50%;
  background-color: currentColor;
  border-radius: 50%;
}

@keyframes animateHeart {
  0% {
    transform: rotate(-90deg) translate(0%, 0%);
  }
  20% {
    transform: rotate(-72deg) translate(17%, 11%);
  }
  50% {
    transform: rotate(-45deg) translate(48%, 19%);
  }
  80% {
    transform: rotate(-18deg) translate(79%, 12%);
  }
  100% {
    transform: rotate(0deg) translate(96%, 1%);
  }
}

/* star */
.star {
  border-right: 100px solid transparent;
  border-bottom: 70px solid currentColor;
  border-left: 100px solid transparent;
  position: absolute;
  top: 28%;
  left: 23%;
  color: rgba(255, 250, 103, 0.9);
  width: 0;
  height: 0;
  transform: rotate(35deg);
  z-index: -1;
  animation: animateStar 18s linear infinite;
  opacity: 0.5;
}

.star:after {
  border-bottom: 80px solid currentColor;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -45px;
  left: -65px;
  transform: rotate(-35deg);
}

.star:before {
  border-right: 100px solid transparent;
  border-bottom: 70px solid currentColor;
  border-left: 100px solid transparent;
  position: absolute;
  content: "";
  top: 3px;
  left: -105px;
  width: 0;
  height: 0;
  transform: rotate(-70deg);
}

@keyframes animateStar {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(395deg);
  }
}

/* circle */
.circle {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 200px;
  height: 200px;
  clip-path: circle();
  background-color: #113cfc;
  transform: translateY(0%);
  animation: animateCircle 8s linear infinite alternate;
  z-index: -1;
  will-change: transform;
  opacity: 0.5;
}

@keyframes animateCircle {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(275%);
  }
}

/* square */
.square {
  width: 120px;
  height: 120px;
  background-color: #06ff00;
  position: absolute;
  top: 71%;
  left: 27%;
  animation: animateSquare 10s linear infinite;
  z-index: -1;
  opacity: 0.5;
}

@keyframes animateSquare {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(395deg);
  }
}
